<div>
  <table class="aui aui-table-sortable">
    <thead>
          <tr>
              <th class="aui-table-column-issue-key">Issue key</th>
              <th>Name</th>
              <th>Age</th>
              <th class="aui-table-column-unsortable">Description</th>
          </tr><tr>
      </tr></thead>
      <tbody>
          <tr>
              <td>TEST-12</td>
              <td>Cannot sort tables</td>
              <td>2</td>
              <td>Table sorting should be allowed</td>
          </tr>
          <tr>
              <td>WIN-87</td>
              <td>Issue Page doesn't load in IE</td>
              <td>7</td>
              <td>When loading issue page on IE it doesn't show</td>
          </tr>
          <tr>
              <td>DRINK-7</td>
              <td>Vending Machine is empty</td>
              <td>1</td>
              <td>Blocker</td>
          </tr>
      </tbody>
  </table>
  <span class="aui-avatar aui-avatar-xlarge">
      <span class="aui-avatar-inner">
          <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-16.png">
      </span>
  </span>
</div>
