<div class="bt-split-cont">
  <div class="bt-split-cont-nav">
    <ul class="bt-split-cont-nav-ul">
      <p class="bt-split-cont-nav-sort">Order by<span class="aui-icon aui-icon-small aui-iconfont-down"></span></p> 
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
      <li class="bt-list-el">
        <a href="">
          <img src="img/bug.png" alt=""><span>TST-64996</span>
          <p>http://kharkov-it-courses.blogspot.com/ website headline<p>
        </a>
      </li>
    </ul>
    <div class="bt-split-cont-nav-pagination">
      <span class="aui-icon aui-icon-small aui-iconfont-build refresh-icon"></span>
      <div class="pagination-nav-container">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>Next &gt;&gt;</span></a>
      </div>
    </div>
  </div>

  <div class="bt-split-cont-page">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image">
                <span class="aui-avatar aui-avatar-large aui-avatar">
                    <span class="aui-avatar-inner">
                        <img alt="Atlassian logo" src="img/projectavatar.png">
                    </span>
                </span>
            </div>
            <div class="aui-page-header-main">
                <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                    <li><a href="http://example.com/">Breadcrumbs</a></li>
                    <li>Sub-page</li>
                </ol>
                <h1>A typical page header with an avatar, breadcrumbs and actions</h1>
            </div>
            <div class="aui-page-header-actions">
                <span class="bt-page-header-from-to">1 of 50</span>
                <div class="aui-buttons">
                    <button class="prev-page"><span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-left"></span></button>
                    <button class="next-page"><span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-right"></span></button>
                </div>
            </div>
        </div>
    </header>
    <section class="bt-page-content">
      <div class="bt-module module-description">
        <h3 class="bt-module-title">Description</h3>
        <ul>
          <li class="bt-module-list-item details-module">
            <strong><span class="bt-module-list-key">Type: </span></strong>
            <span class="bt-module-list-value"><img src="img/bug.png" alt="bug flag">Bug</span>
          </li>
          <li class="bt-module-list-item details-module">
            <strong><span class="bt-module-list-key">Priority: </span></strong>
            <span class="bt-module-list-value"><img src="img/major.png" alt="bug flag">Critical</span>
          </li>
          <li class="bt-module-list-item details-module">
            <strong><span class="bt-module-list-key">Status: </span></strong>
            <span class="bt-module-list-value"><span class="aui-lozenge aui-lozenge-complete">OPEN</span></span>
          </li>
        </ul>
      </div>
      <div class="bt-module">
        <h3 class="bt-module-title">Description</h3>
        <ul>
          <li class="bt-module-list-item">
            <strong><span class="bt-module-list-key">Pre condition: </span></strong>
            <span class="bt-module-list-value">Open: http://test.ecacustomer.ostdlabs.com</span>
          </li>
          <li class="bt-module-list-item">
            <strong><span class="bt-module-list-key">Steps to reproduce: </span></strong>
            <span class="bt-module-list-value">
              <ol>
                <li>Click on icon "Преподаватели"</li>
                <li>Choose any filter, for ex. 'Просмотр мултиков'</li>
              </ol>
            </span>
          </li>
          <li class="bt-module-list-item">
            <strong><span class="bt-module-list-key">Actual result: </span></strong>
            <span class="bt-module-list-value">Invalid data.</span>
          </li>
          <li class="bt-module-list-item">
            <strong><span class="bt-module-list-key">Expected result: </span></strong>
            <span class="bt-module-list-value">Valid data.</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
