/* DEV HELP */
.bt-split-cont > div {

}
/*************/

/* GLOBAL */
ul {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.selected {
  background-color: #ebf2f9;
}
/*************/

/* SPLIT CONTAINER */
  /* SPLIT CONTAINER LAYOUT */
.bt-split-cont {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff
}

.bt-split-cont > .bt-split-cont-nav,
.bt-split-cont-nav-pagination,
.bt-split-cont-nav-ul {
  position: fixed;
  width: 18%;
  left: 0;
  padding-left: 0;
}
  /*************/
.bt-split-cont-nav-sort {
  cursor: pointer;
}

.bt-split-cont {
  background-color: #fff;
  width: 100%
}

.bt-split-cont-nav {
  height: 100%;
  border-right: 1px solid #ccc;
}

.bt-split-cont > .bt-split-cont-nav > .bt-split-cont-nav-ul {
  height: 97%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.bt-split-cont > .bt-split-cont-page {
  width: 79%;
  margin-left: 20%;
  padding-top: 15px;
}
  /*************/
  /* Pagination/Navigation */
.bt-split-cont-nav-pagination {
  bottom: 0;
  height: 3%;
}

.bt-split-cont-nav-pagination > .refresh-icon {
 height: 100%; 
}

.pagination-nav-container {
  float: right;
  padding-top: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.pagination-nav-container > .pagination-nav-number.bold {
  font-weight: bold;
}

.pagination-nav-container > .pagination-nav-number:hover {
  text-decoration: underline  ;
}
  /*************/

.bt-split-cont-nav-ul {
  padding-left: 0px; /* I don't know why this is happening */
}

    /* LIST ITEM */
.bt-split-cont-nav-ul > .bt-list-el {
  width: 85%;
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px solid #ccc;
  padding: 5px;
}

.bt-split-cont-nav-ul > .bt-list-el > img {
  position: relative;
  top: 3px;
  padding-right: 2px;
}

.bt-split-cont-nav-ul > .bt-list-el > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 3px;
}

    /****************/

/* PAGE CONTAINER*/
.bt-split-cont-page {
  height: 100%;
}

  /* PAGE HEADER */
  
  .aui-page-header {
    margin-bottom: 20px;
  }
  
  .bt-page-header-from-to {
    position: relative;
    top: 6px;
  }

  /****************/
  /* PAGE CONTENT MODULES */
.bt-page-content {
  border-bottom: 1px solid;
}

.bt-page-content > .bt-module {
  margin-bottom: 30px;
  border-top: 1px solid;
}

.bt-page-content > .bt-module.module-description {
}

.bt-page-content > .bt-module > h3.bt-module-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.bt-module > ul {
  padding-left: 20px;
}

.bt-module > ul > li.bt-module-list-item {
  margin: 5px 0;
}

.bt-module-list-item.details-module > strong > .bt-module-list-key {
  color: #777;
}

  /****************/
/****************/

/* SCROLL */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*************/